@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-700.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/inter-900.woff2') format('woff2');
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  background-color: #feafc3;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.page-wrapper {
  width: 1366px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 98px;
  min-height: 100vh;
}

/* Primary button */

.button-primary {
  min-width: 139px;
  padding: 12px 32px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #2D3440;
  background-color: #fcfcfc;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4);
  border-radius: 26px;
  border: none;
  cursor: pointer;
}

/* Secondary button */

.button-secondary {
  min-width: 88px;
  padding: 12px 32px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #fcfcfc;
  background-color: #ff2f64;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3);
  border-radius: 26px;
  border: none;
  cursor: pointer;
}

/* Secondary button light*/

.button-secondary-light {
  min-width: 185px;
  padding: 12px 32px;
  line-height: 20px;
  font-weight: 700;
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 26px;
  border: 2px solid #FCFCFC;
  cursor: pointer;
}

/* Header */

.page-header {
  display: flex;
  padding: 24px 0 20px 0;
  align-items: center;
}

/* Navigation */

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 495px;
  margin: 0 16px;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

.header-wrapper {
  display: flex;
  margin-left: auto;
}

/* Phone */

.header-phone {
  align-self: center;
  margin-right: 19px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #2D3440;
}

/* Search */

.search-wrapper {
  display: flex;
  align-items: center;
}

.search-button {
  position: relative;
  width: 27px;
  height: 27px;
  margin-right: 19px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.search-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 27px;
  height: 27px;
  transform: translate(-50%, -50%);
  background-image: url('../images/search.svg');
  background-repeat: no-repeat;
  background-position: center;
}

/* Log-in */

.login-button,
.basket-button {
  position: relative;
  min-width: 88px;
  margin-right: 16px;
  padding: 6px 13px 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  border: none;
  border-radius: 30px;
  background-color: rgba(252, 252, 252, 0.3);
  cursor: pointer;
}

.login-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 28%;
  width: 13px;
  height: 13px;
  transform: translate(-50%, -50%);
  background-image: url('../images/login.svg');
  background-repeat: no-repeat;
}

/* Basket */

.basket-button {
  min-width: 115px;
  margin-right: 0;
}

.basket-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20%;
  width: 15px;
  height: 14px;
  transform: translate(-50%, -50%);
  background-image: url('../images/basket.svg');
  background-repeat: no-repeat;
}

/* Main */

.main-container {
  flex-grow: 1;
}

/* Slider */

.color-pink {
  background-color: #feafc3;
}

.color-blue {
  background-color: #69a9ff;
}

.color-yellow {
  background-color: #fcc850;
}

.slider {
  position: relative;
  padding-left: 70px;
  margin-bottom: 40px;
}

.slider-slides {
  display: flex;
}

.slider-slide {
  width: 150px;
}

.slider-slide--active .slider-content {
  display: block;
}

.slider-slide--active {
  order: -1;
  width: 800px;
  display: grid;
  grid-template-columns: 470px 630px;
}

.slider-content {
  display: none;
  align-self: center;
  padding: 40px 0;
}

.slider-title {
  margin: 0 0 24px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2d3440;
}

.slider-description {
  margin: 0 0 48px;
  font-size: 18px;
  line-height: 24px;
  color: #2d3440;
}

.slider-link {
  display: inline-block;
  text-decoration: none;
  color: #2D3440;
}

.slider-images {
  display: grid;
  grid-template-columns: 306px 123px 123px;
  column-gap: 15px;
  transform: scale(0.37);
}

.slider-image {
  position: relative;
  padding: 22px;
}

.slider-image::before {
  position: absolute;
  content: "";
  width: 265px;
  height: 265px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-slide--active .slider-images {
  transform: scale(1.179) translate(43px, 0px);
}

/* Slider arrows */

.slider-toggles {
  position: absolute;
  top: 258px;
  left: 542px;
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.slider-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #fcfcfc;
  color: #fcfcfc;
  background-color: rgba(252, 252, 252, 0.3);
  cursor: pointer;
}

/* Slider pagination */

.slider-pagination {
  position: absolute;
  left: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.slider-pagination-button {
  display: flex;
  width: 12px;
  height: 12px;
  padding: 0;
  border-radius: 50%;
  background-color: #fcfcfc;
  opacity: 0.3;
  border: none;
  cursor: pointer;
}

.slider-pagination-button.is-active {
  opacity: 1;
  pointer-events: none;
}

/* Social */

.social-list {
  position: absolute;
  bottom: 40px;
  right: 0;
  display: grid;
  grid-template-columns: repeat(3, 24px);
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-link {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
}

.tg-link {
  background-image: url('../images/social-tg.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.vk-link {
  background-image: url('../images/social-vk.svg');
  background-position: center;
  background-repeat: no-repeat;
}


.yt-link {
  background-image: url('../images/social-yt.svg');
  background-position: center;
  background-repeat: no-repeat;
}

/* Promo */

.promo {
  padding: 40px 0;
  margin-bottom: 40px;
}

.promo-title {
  margin: 0;
  padding: 0 368px 54px 368px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  color: #2D3440;
  text-align: center;
}

.promo-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  gap: 30px;
}

.article {
  position: relative;
  padding: 36px 206px 36px 36px;
  background-color: #ff7799;
  border-radius: 16px;
}

.article-title {
  margin: 0 0 28px 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2D3440;
}

.article-description {
  margin: 0 0 28px 0;
  color: #2D3440;
}

.article-link {
  display: inline-block;
  min-width: 176px;
  text-decoration: none;
}

.article-img {
  position: absolute;
  top: 0;
  right: 0;
}

/* Popular tastes */

.popular {
  padding: 40px 0;
}

.popular-title {
  margin: 0 0 56px 0;
  padding: 0 318px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  color: #2D3440;
  text-align: center;
}

.popular-img {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%) scale(1.16);
}

.popular-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 80px 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.popular-item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 52px 0 0 0;
}

.popular-item-content {
  display: flex;
  flex-direction: column;
  padding: 133px 40px 20px 40px;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.popular-item-title {
  margin: 0 0 8px 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #2D3440;
  text-align: center;
}

.popular-item-subtitle {
  margin: 0 0 19px 0;
  padding: 0;
  text-align: center;
}

.item-wrapper {
  display: flex;
  justify-content: space-between;
}

.item-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #2D3440;
}

.item-link {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  background-color: #ff2f64;
  border-radius: 50%;
}

.item-link::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 14px;
  background-image: url('../images/basket-white.svg');
  background-repeat: no-repeat;
}

/* Advantages*/

.advantages {
  padding: 24px;
  background-image: url('../images/waffle-bg.png');
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 80px;
}

.advantages-content {
  padding: 56px 40px;
  background-color: #ffffff;
  border-radius: 16px;
}

.advantages-title {
  margin: 0 0 56px 0;
  padding: 0;
  text-align: center;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  color: #2D3440;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(2, 505.5px);
  gap: 38px 32px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  position: relative;
  margin: 0;
  padding: 0 0 0 64px;
}

.advantages-item::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid #2d3440;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages-item-one::before {
  background-image: url('../images/ice-cream.png');
}

.advantages-item-two::before {
  background-image: url('../images/cow.png');
}

.advantages-item-three::before {
  background-image: url('../images/leaf.png');
}

.advantages-item-four::before {
  background-image: url('../images/thermometer.png');
}

/* Blog and newsletter */

.section-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  gap: 30px;
  margin-bottom: 80px;
}

/* Blog */

.blog-wrapper {
  padding: 32.5px 235px 67px 32px;
  background-image: url('../images/blog-bg.jpg');
  background-position: -2px -103px;
  border-radius: 16px;
  background-size: 113%;
  background-color: #ffffff;
}

.blog-title {
  margin: 0 0 12px 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.blog-subtitle {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2D3440;
}

/* Newsletter */

.newsletter {
  padding: 6px;
  background-image: url('../images/newsletter-bg.png');
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.newsletter-wrapper {
  padding: 26px;
  background-color: #ffffff;
  border-radius: 16px;
}

.newsletter-info {
  margin: 0 0 42px 0;
}

.newsletter-input {
  width: 332px;
  padding: 14px 16px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
}

.newsletter-button {
  width: 152px;
  margin-left: 13px;
}

/* Delivery */

.delivery {
  margin-bottom: 80px;
}

.delivery-wrapper {
  display: grid;
  grid-template-columns: 460px 500px;
  gap: 80px;
  padding: 64px;
  background-image: url('../images/delivery-bg.jpg');
  background-size: 105%;
  background-position: -1px -139px;
  border-radius: 16px;
  background-color: #ffffff;
}

.delivery-content-one {
  padding: 104px 50px 50px 36px;
}

.delivery-title {
  margin: 0 0 24px 0;
  padding: 0;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  color: #2D3440;
}

.delivery-description {
  margin: 0;
}

.delivery-content-two {
  padding: 40px 40px 42px 40px;
  background-color: #fcfcfc;
  box-shadow: 0 0 40px 15px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.delivery-info {
  margin: 0 0 34px 0;
}

.delivery-label {
  line-height: 20px;
  font-weight: 700;
  color: #2D3440;
}

.delivery-input {
  padding: 14px 16px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
}

.input-wrapper-one {
  display: grid;
  grid-template-columns: 117px 287px;
  grid-template-rows: 20px 48px;
  gap: 8px 16px;
  margin-bottom: 20px;
}

.date-label {
  grid-row-start: 1;
}

.date-input {
  width: 117px;
  grid-row-start: 2;
}

.phone-input {
  width: 287px;
}

.input-wrapper-two {
  display: grid;
  grid-template-columns: 420px;
  grid-template-rows: 20px 48px;
  gap: 8px 16px;
  margin-bottom: 32px;
}

.address-label {
  grid-row-start: 1;
}

.address-input {
  grid-row-start: 2;
}

.delivery-button {
  transform: translateX(93%);
}

/* Contacts */

.contacts {
  padding: 64px;
  background-image: url('../images/contacts-bg.jpg');
  background-size: cover;
  background-position: 0 -83px;
  border-radius: 16px;
}

.contacts-wrapper {
  padding: 40px 40px 42px 40px;
  background-color: #fcfcfc;
  box-shadow: 0 0 40px 15px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  width: 343px;
}

.contacts-title {
  margin: 0 0 12px 0;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

.contacts-address {
  margin: 0 0 24px 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  color: #2D3440;
}

.contacts-phone {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #2D3440;
  text-decoration: none;
}

.contacts-info {
  margin: 0 0 12px 0;
}

.contacts-info-two {
  margin: 0 0 29px 0;
  font-size: 14px;
}

.contacts-link {
  display: inline-flex;
  text-decoration: none;
}

/* Footer */

.footer {
  display: grid;
  grid-template-columns: 220px 356px 220px;
  column-gap: 185px;
  padding: 44px 0;
}

/* Footer social */

.footer-social-list {
  display: grid;
  grid-template-columns: repeat(5, 24px);
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  margin: 0;
  padding: 0;
}

.footer-social-link {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgb(252 252 252 0.3);
}

.footer-social-tg {
  background-image: url('../images/social-tg.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.footer-social-vk {
  background-image: url('../images/social-vk.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.footer-social-yt {
  background-image: url('../images/social-yt.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.info-wrapper {
  display: grid;
  grid-template-columns: 150px 206px;
  grid-template-rows: 20px 20px;
  row-gap: 8px;
}

.info-title {
  position: relative;
  margin: 0;
  padding-left: 24px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #2D3440;
}

.info-title::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 13px;
  top: 4px;
  left: 3px;
  background-image: url('../images/footer-heart.svg');
}

.info-link {
  padding-left: 24px;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

/* Footer logo */

.footer-logo {
  display: block;
  margin-bottom: 12px;
}

.htmlacademy-icon {
  transform: scale(1.21) translate(23px, 3px);
}

.footer-credits {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
  transform: translateX(17px);
}

.footer-link {
  text-decoration: none;
  color: #2D3440;
}

/* Catalog */

/* Breadcrumbs */

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 26px 0 16px 0;
  list-style-type: none;
}

.breadcrumbs-item {
  padding-right: 28px;
}

.breadcrumbs-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.catalog-title {
  margin: 0 0 40px 0;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  color: #2D3440;
}

/* Filters */

.filter {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-title {
  margin: 0 0 8px 0;
  padding: 0 0 0 16px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2D3440;
}

.filter-wrapper-one {
  display: grid;
  grid-template-columns: 196px 196px 383px;
  grid-template-rows: 20px 36px;
  gap: 8px 24px;
  margin: 0 0 16px 0;
}

/* Sorting */

.sorting-select {
  width: 196px;
  padding: 8px 10px;
  grid-row-start: 2;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  border: none;
}

/* Fat content filter */

.fat-content-list {
  display: flex;
  margin: 0;
  padding: 8px 25px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
  list-style-type: none;
}

.fat-content-label {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.filter-wrapper-two {
  display: grid;
  grid-template-columns: 604px 185px;
  grid-template-rows: 20px 38px;
  gap: 8px 16px;
  margin: 0 0 16px 0;
}

/* Toppings filter */

.toppings-list {
  display: flex;
  margin: 0;
  padding: 10px 25px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
  list-style-type: none;
}

.toppings-label {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

/* Catalog product */

.catalog {
  padding: 28px 0 16px 0;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: repeat(3, 332px);
  gap: 40px 30px;
}

.catalog-item {
  position: relative;
  margin: 0;
  padding: 51px 0 0 0;
}

.catalog-img {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%) scale(1.16);
}

.catalog-item-content {
  padding: 133px 40px 24px 40px;
  background-color: #fcfcfc;
  border-radius: 8px;
}

.catalog-item-title {
  margin: 0 0 8px 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #2D3440;
  text-align: center;
}

.catalog-item-subtitle {
  margin: 0 0 20px 0;
  text-align: center;
}

.catalog-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #2D3440;
}

.catalog-link {
  width: 32px;
  height: 32px;
  background-color: #ff2f64;
  border-radius: 50%;
}

.filter-button {
  grid-row-start: 2;
  grid-column-start: 2;
}

/* Pagination */

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 41px 0 41px 487px;
}

.pagination-button {
  display: inline-flex;
  text-decoration: none;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item-link {
  text-decoration: none;
  color: #2D3440;
}
